<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.upt.cti.droidpi" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.upt.cti.droidpi.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.upt.cti.droidpi.TestsActivity"
            android:label="@string/title_activity_tests"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.upt.cti.droidpi.PITestActivity"
            android:label="@string/back_to_tests_title"
            android:parentActivityName="com.upt.cti.droidpi.TestsActivity"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="TestsActivity" />
        </activity>
        <activity
            android:name="com.upt.cti.droidpi.ThreadsTestActivity"
            android:label="@string/back_to_tests_title"
            android:parentActivityName="com.upt.cti.droidpi.TestsActivity"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="TestsActivity" />
        </activity>
        <activity
            android:name="com.upt.cti.droidpi.ArithmeticTestActivity"
            android:label="@string/title_activity_arithmetic_test"
            android:parentActivityName="com.upt.cti.droidpi.TestsActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="TestsActivity" />
        </activity>
    </application>

</manifest>
